{% extends "bootstrap/base.html" %}
{% block content %}
<head>
 <title> Cancer Detection System </title>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <style>
   #myCarousel{
    margin:25px;
   }
   
   h2{
	  text-align:center;
	  cursor:pointer;
	  color:white;
   }
   .bg-primary{
	  text-align:center;
	  cursor:pointer;
	  color:white;
	  font-family:ariel;
   }
   
   div.footer{
	   position:fixed;
	   bottom:0;
	   left:0;
	   width:100%;
	   background-color:#514A4A;
	   text-align:center;
	   color:white;
	   height:35px;
	   border-top: solid 2px #eee;
   }
  </style>

 </head>
 <body>
<div class="w3-container">
	<div class="bg-primary" > 
		<blockquote style="font-size:33px" > 
			<font size="12">C</font>ANCER <font size="12">D</font>ETECTION <font size="12">S</font>YSTEM <sub style="font-size:18px"> <i>Using Machine Learning</i> </sub> 
		</blockquote> 
	</div>
	<div class="w3-container" style="color:red">
			<div class="form-group row">
				<div class="col-xs-6">
					<input type="hidden" class="form-control" placeholder=" Gene..." name="gene1" />
				</div>
			    <div class="col-xs-2">
			    	<button class="w3-btn w3-green w3-small w3-round-large" data-toggle="modal" data-target="#userModal"style="width:100%" > Login </button>
			    </div>
			    <div class="col-xs-2">
			    	<input type="submit" class="w3-btn w3-green w3-small w3-round-large" style="width:100%" value="Signup" onclick="window.location.href='{{url_for('signup')}}';" />
                </div>
			    <div class="col-xs-2">
			    	<button class="w3-btn w3-green w3-small w3-round-large" data-toggle="modal" data-target="#predictModal"style="width:100%" > Predict </button>
			    </div>
            </div>		
		<!--<form method="POST" action="{{url_for('predict')}}">
			<input type="hidden" name="report" placeholder="Clinicalvidence" ><br><br>
			<div class="form-group row">
				<div class="col-xs-6">
					<input type="hidden" class="form-control" placeholder=" Gene..." name="gene1" />
				</div>
			    <div class="col-xs-2">
			    	<input type="text" class="form-control" placeholder=" Gene..."  name="gene_data" required autofocus />
			    </div>
			    <div class="col-xs-2">
			    	<input type="test" class="form-control" placeholder=" Varience..." name="var_data" required autofocus/>
                </div>
	            <div class="col-xs-2">
                    <input type="submit" class="w3-btn w3-green w3-small w3-round-large" style="width:50%" value="Predict" />
                </div>
            </div>
            
        </form>  -->
    </div>
</div>
  <div class="w3-container">
  	<div id="myCarousel" class="carousel slide" data-ride="carousel">
  		<!-- Indicators -->
  		<ol class="carousel-indicators">
  			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
  			<li data-target="#myCarousel" data-slide-to="1"></li>
  			<li data-target="#myCarousel" data-slide-to="2"></li>
  			<li data-target="#myCarousel" data-slide-to="3"></li>
  			<li data-target="#myCarousel" data-slide-to="4"></li>
  		</ol>
  		<!-- Wrapper for slides -->
  		<div class="carousel-inner">
  			<div class="item active">
  				<img class="center-block" src="{{ image1 }}" alt="ML" style="width:70%" >
  				<div class="carousel-caption">
  					<h3>ML</h3>
  				</div>
  			</div>
	  		<div class="item">
	  			<img class="center-block" src="{{ image2 }}" alt="ML" style="width:70%" >
	  			<div class="carousel-caption"><h3>ML</h3></div>
	  		</div>
		    <div class="item">
		      <img class="center-block" src="{{ image3 }}" alt="ML" style="width:70%" >
			  <div class="carousel-caption">
		          <h3>ML</h3>
		      </div>
		    </div>
			<div class="item">
		      <img class="center-block" src="{{ image4 }}" alt="ML" style="width:70%" >
			  <div class="carousel-caption">
		          <h3>ML</h3>
		      </div>
		    </div>
			<div class="item">
		      <img class="center-block" src="{{ image5 }}" alt="ML" style="width:70%" >
			  <div class="carousel-caption">
		          <h3>ML</h3>
		      </div>
		    </div>
	  </div>
  	<!-- Left and right controls -->
		  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="right carousel-control" href="#myCarousel" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right"></span>
		    <span class="sr-only">Next</span>
		  </a>
  	</div>
  </div>
  <br><br><br><br>

    <div class="footer">
    	<p> Copyright 2018 &copy; PROVIGENCE  | All rights reserved |</p>
    </div>
  <div class="w3-container w3-center w3-animate-zoom">
  
  <div class="modal fade" id="userModal" role="dialog">
    <div class="modal-dialog" style="margin-top:12%;">
    
      <div class="modal-content" style="padding:2%">
        <div class="modal-header" >
          <button type="button" class="close" title="close modal" data-dismiss="modal" style="color:red;" >&times;</button>
          <h2 align="center" class="modal-title" style="font-family:ariel" > User Login Form </h2>
        </div>
        <div class="modal-body">
         <form align="center" class="form-horizontal" action = "{{ url_for('login') }}" method = "post" >
		  <div class="input-group">
		   <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
		   <input type="text" class="form-control" placeholder=" Email..."  name="email" required autofocus /><br>
		  </div> <br> <br>
		  <div class="input-group">
		   <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>  
		   <input type="password" class="form-control" placeholder=" Password..." name="password" required autofocus />
		  </div><br>
		  <div class="form-group">        
		   <input type="submit" class="w3-btn w3-green w3-small w3-round-large" style="width:90%" value="Login" />
		  </div>
		 </form>
        </div>
        <div class="modal-footer" style="background-color:#f1f1f1">
          <center> <button type="button" class="w3-btn w3-red w3-small w3-round-large" data-dismiss="modal" style="margin-left:auto;" >Close</button> </center>
	<!--	  <span class="psw"> <a href="#"> Forgot password? </a></span>
       --> </div>
      </div>
      
    </div>
  </div>
    
  
  
</div> 

<!-- Predict Model -->
 <div class="w3-container w3-center w3-animate-zoom">
  
  <div class="modal fade" id="predictModal" role="dialog">
    <div class="modal-dialog" style="margin-top:12%;">
    
      <div class="modal-content" style="padding:2%">
        <div class="modal-header" >
          <button type="button" class="close" title="close modal" data-dismiss="modal" style="color:red;" >&times;</button>
          <h2 align="center" class="modal-title" style="font-family:ariel;color:black" > Expert Lonin </h2>
        </div>
        <div class="modal-body">
         <form align="center" class="form-horizontal" method="POST" action="{{url_for('predict')}}" >
         	<input type="hidden" name="report" placeholder="Clinicalvidence" >
		  <div class="input-group">
		   <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
		   <input type="text" class="form-control" placeholder=" Gene..."  name="gene_data" required autofocus /><br>
		  </div> <br> <br>
		  <div class="input-group">
		   <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>  
		   <input type="test" class="form-control" placeholder=" Varience..." name="var_data" required autofocus/>
		  </div><br>
		  <div class="form-group">        
		   <input type="submit" class="w3-btn w3-green w3-small w3-round-large" style="width:90%" value="Predict" />
		  </div>
		 </form>
        </div>
        <div class="modal-footer" style="background-color:#f1f1f1">
          <center> <button type="button" class="w3-btn w3-red w3-small w3-round-large" data-dismiss="modal" style="margin-left:auto;" >Close</button> </center>
	<!--	  <span class="psw"> <a href="#"> Forgot password? </a></span>
       --> </div>
      </div>
      
    </div>
  </div>
    
  
  
</div>    


</body>    
{% endblock %}
